{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-section">
    <div class="container hero-content">
        <h1 class="hero-title">Bakone Trading & Projects</h1>

        <h3>
           
           Bakone Trading is a multidisciplinary firm specialising in
            commercial farming operation, Occupational Health and Safety (OHS)
             services, Construction Management services, logistics and transportation
              management services. Bakone Trading is 100% black-female-owned firm, providing
               services across South African since 2016. The firm is B-BBEE LEVEL 1
                Donor projects: 135 percent Procurement Recognition.
        </h3>

      

        <div class="hero-actions">
            <a href="/contact" class="btn-primary">Get in Touch</a>
            <a href="/services" class="btn-primary">View Services</a>
        </div>
    </div>
</section>

{% endblock %}